.admin-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;

  &__inner {
    // min-height: 400px;
    max-width: 700px;
    width: 100%;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 35px 0px rgba(173, 216, 230, 0.1);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__body {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 20px;
    }

    textarea {
      height: 200px;
      margin-bottom: 20px;
    }

    .add-btn {
      margin-left: auto;
    }
  }
}

.user-img {
  border-radius: 50%;
  background-color: lightseagreen;
  height: 50px;
  width: 50px;

  img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    transform: translate(-3px, -3px);
    border: 3px solid gold;
  }
}

.user-name {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  color: gold;
}
